@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin font-text-primary($font-size, $line-height, $color-text) {
  font-family: $font-primary;
  font-style: normal;
  font-weight: $font-weight-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
}

@mixin font-text-secondary($font-size, $line-height, $color-text) {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: $font-weight-primary;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
}

@mixin list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin link-states($color, $hover, $active, $disabled) {
  color: $color;

  &:hover,
  &:focus-visible {
    color: $hover;
  }

  &:active {
    color: $active;
  }

  &:disabled {
    color: $disabled;
  }
}
