$font-primary: "Lato", sans-serif;
$font-secondary: "Oswald", sans-serif;
$font-weight-primary: 400;
$color-text-base: #444444;
$color-text-dark: #000000;
$color-text-special: #ffffff;
$bg-color-base:  #f2f2f2;
$bg-color-dark:  #eaeaea;
$bg-color-bright: #68b738;

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1340px;
