/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/nutrition-selector.scss";
@import "./blocks/nutrition-programs.scss";
@import "./blocks/offer-list.scss";
@import "./blocks/program-card.scss";
@import "./blocks/advantages.scss";
@import "./blocks/benefits.scss";
@import "./blocks/advertising-example.scss";
@import "./blocks/definition-list.scss";
@import "./blocks/slider.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/developer-info.scss";
@import "./blocks/goods.scss";
@import "./blocks/product-list.scss";
@import "./blocks/product-card.scss";
@import "./blocks/extra-goods.scss";
@import "./blocks/promos-and-new.scss";
@import "./blocks/form-block.scss";
@import "./blocks/input-block.scss";
@import "./blocks/icon.scss";
@import "./blocks/contacts.scss";
@import "./blocks/links.scss";
@import "./blocks/extra-product-list.scss";
@import "./blocks/extra-product-card.scss";
