.advertising-example {
  width: 100%;
  background-color: $bg-color-dark;
}

@media (min-width: $tablet-width) {
  .advertising-example {
    background:
      linear-gradient(
        to top,
        $bg-color-dark 0% 462px,
        transparent 462px 100%,
      );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .advertising-example__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__container {
    width: 436px;
    flex-direction: column;
  }
}

.advertising-example__wrapper {
  min-width: 280px;
  max-width: 280px;
  margin: 0 auto;
  padding: 25px 20px 40px;
}

@media (min-width: $tablet-width) {
  .advertising-example__wrapper {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    padding: 45px 30px 101px;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__wrapper {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 69px 60px 85px;
    position: relative;
  }
}


.advertising-example__title {
  @include font-text-secondary(36px, 40px, $color-text-dark);
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advertising-example__title {
    @include font-text-secondary(60px, 60px, $color-text-dark);
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__title {
    width: 436px;
    margin-bottom: 146px;
  }
}

.advertising-example__description {
  @include font-text-primary(14px,18px, $color-text-base);
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .advertising-example__description {
    @include font-text-primary(16px,24px, $color-text-base);
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__description {
    width: 436px;
    margin-bottom: 69px;
  }
}

/* --
.advertising-example__list {

}
-- */

.advertising-example__subtitle {
  display: block;
  margin: 0;

  @include font-text-secondary(14px, 20px, $color-text-dark);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advertising-example__subtitle {
    @include font-text-secondary(20px, 20px, $color-text-dark);
    text-align: end;
    min-width: 298px;
    max-width: 298px;
  }
}

@media (min-width: $tablet-width) {
  .advertising-example__subtitle-value {
    margin-top: 9px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__subtitle {
    text-align: start;
    min-width: 436px;
    max-width: 436px;
    padding: 0;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .advertising-example__subtitle-value {
    display: inline-block;
    margin-left: 63px;
  }
}
