.extra-product-card {
  display: grid;
  grid-template-columns: 140px 70px 70px;
  grid-template-rows: 29px 29px 55px;
  padding-top: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .extra-product-card {
    grid-template-columns: 285px 254px 91px;
    grid-template-rows: 20px 55px;
    padding-top: 26px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card {
    grid-template-columns: 325px 243px 82px 244px;
    grid-template-rows: 72px;
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.extra-product-card__link {
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .extra-product-card__link {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card__link {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.extra-product-card__title {
  @include font-text-secondary(16px, 16px, #222222);
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .extra-product-card__title {
    align-items: center;
  }
}

.extra-product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/4;
  grid-row: 2/3;
}

@media (min-width: $tablet-width) {
  .extra-product-card__info {
    display: grid;
    grid-template-columns: 254px 91px;
    grid-template-rows: 20px;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: auto;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card__info {
    display: grid;
    grid-template-columns: 243px 82px;
    grid-template-rows: 70px;
    grid-column: 2/4;
    grid-row: 1/-1;
    align-items: center;
  }
}

.extra-product-card__attributes {
  grid-column: 1/2;
  grid-row: 1/2;
}

@media (min-width: $tablet-width) {
  .extra-product-card__attributes {
    @include font-text-primary(14px, 14px, $color-text-base);
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card__attributes {
    grid-column: 1/2;
    grid-row: 1/-1;
    text-align: start;
  }
}

.extra-product-card__description {
  grid-column: 2/3;
  grid-row: 1/2;
}

@media (min-width: $tablet-width) {
  .extra-product-card__description {
    @include font-text-primary(14px, 14px, $color-text-base);
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card__description {
    grid-column: 2/3;
    grid-row: 1/-1;
    text-align: start;
    margin: 0;
  }
}

.extra-product-card__button {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .extra-product-card__button {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .extra-product-card__button {
    grid-column: 4/5;
    grid-row: 1/-1;
    margin: auto 0;
  }
}
