.extra-product-list {
  @include list();
}

.extra-product-list__item {
  padding-top: 20px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .extra-product-list__item {
    padding: 10px 37px 40px;
  }
}
