.logo {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
  margin: 0 auto;
}

.logo__text {
  display: block;
}
