.logo {
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  border: none;
}

.logo__text {
  border: none;
}
