.logo {
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;
  margin: 0 auto;
}

.logo__text {
  display: block;
}

@media (min-width: $desktop-width) {
  .logo__text {
    width: 118px;
    height: 21px;
  }
}

.logo__image-footer {
  width: 128px;
  height: 24px;
}

@media (min-width: $desktop-width) {
  .logo__image-footer {
    width: 128px;
    height: 24px;
  }
}
