.main-header {
  width: 280px;
  margin: 0 auto;
  padding: 13px 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    padding: 25px 30px 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 55px 60px 0;
    z-index: 10;
  }
}


.main-header__logo {
  display: flex;
  gap: calc((100% - (33px + 101px + 24px)) / 2); /* распределяет оставшееся пространство */
  align-items: center;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    gap: 13px;
    margin-bottom: initial;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    gap: 14px;
  }
}

/* --
.main-header__nav {
  border: none;
}
-- */
