@media (min-width: $tablet-width) {
  .main__nutrition-selector {
    margin: 0 auto;
    padding: 65px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .main__nutrition-selector {
    padding: 0;
  }
}

.main__nutrition-programs {
  margin: 0 auto;
  padding: 20px 20px 0;
}

@media (min-width: $tablet-width) {
  .main__nutrition-programs {
    padding: 0 30px;
  }
}


@media (min-width: $desktop-width) {
  .main__nutrition-programs {
    padding: 82px 60px 0;
  }
}

.main__advantages {
  margin: 0 auto;
  padding: 20px 20px 49px;
}

@media (min-width: $tablet-width) {
  .main__advantages {
    padding: 45px 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .main__advantages {
    padding: 71px 60px 0;
  }
}

.main__extra-goods {
  margin: 0 auto;
  padding: 25px 20px 0;
}

@media (min-width: $tablet-width) {
  .main__extra-goods {
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .main__extra-goods {
    margin: 0 auto;
    padding: 0 60px;
  }
}

.main__goods {
  margin: 0 auto;
  padding: 27px 20px 0;
}

@media (min-width: $tablet-width) {
  .main__goods {
    margin: 0 auto;
    padding: 65px 30px 77px;
  }
}

@media (min-width: $desktop-width) {
  .main__goods {
    margin: 0 auto;
    padding: 188px 60px 71px;
  }
}

.main__promos-and-new {
  margin: 0 auto;
  padding: 45px 20px;
  padding-bottom: 35px;
}

@media (width >= 768px) {
  .main__promos-and-new {
    padding: 0 38px;
    padding-bottom: 20px;
  }
}

@media (width >= 1340px) {
  .main__promos-and-new {
    margin: 0 auto;
    padding: 96px 60px 83px;
  }
}
