.main-footer {
  border: none;
}

.main-footer--dark {
  background-color: $bg-color-base;
}

.main-footer__contacts {
  border: none;
}

.main-footer__links {
  background-color: $bg-color-base;
}

.main-footer__logo {
  border: none;
}

.main-footer__social {
  border: none;
}

.main-footer__copyright {
  border: none;
}
