.main-header {
  min-width: 280px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 708px;
    max-width: 708px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-width: 1220px;
    max-width: 1220px;
  }
}


.main-header__logo {
  display: flex;
  gap: calc(50% - 83px);
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 280px;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    gap: 13px;
    margin: initial;
  }

  .main-header__nav {
    margin-right: 5px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    gap: 14px;
  }

  .main-header__nav {
    margin-right: 0;
  }
}
