.main-nav {
  border: none;
}

.main-nav__toggle {
  border: none;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  background: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../icons/menu-burger.svg");
}

.main-nav__list {
  @include list();
}

.main-nav__item {
  border: none;
}

.main-nav__link {
  @include font-text-secondary(20px, 20px, $color-text-dark);
  text-transform: uppercase;
  text-decoration: none;
}
