.nutrition-programs {
  min-width: 280px;
  max-width: 280px;
}

@media (min-width: $tablet-width) {
  .nutrition-programs {
    min-width: 708px;
    max-width: 708px;
  }
}


@media (min-width: $desktop-width) {
  .nutrition-programs {
    min-width: 1220px;
    max-width: 1220px;
  }
}
