.nutrition-programs {
  min-width: 280px;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 20px 0;
}

@media (min-width: $tablet-width) {
  .nutrition-programs {
    min-width: 708px;
    max-width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }
}


@media (min-width: $desktop-width) {
  .nutrition-programs {
    min-width: 1220px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 82px 60px 0;
  }
}
