.page {
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  overflow-x: hidden;
}

.page__header {
  margin: 0 auto;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .page__header {
    margin: 0 auto;
    padding: 25px 30px 0;
  }
}


@media (min-width: $desktop-width) {
  .page__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 55px 60px 0;
    z-index: 10;
  }
}

.page__main {
  overflow-x: hidden;
}
