.page {
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  overflow-x: hidden;
}


@media (min-width: $desktop-width) {
  .page__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page__main {
  overflow-x: hidden;
}
