.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  position: relative;
}

.product-card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  left: 50%;
  width: 100vw;
  transform: translateX(-50%);

  border-bottom: 1px solid #ebebeb;

  z-index: -1;
}

.product-card--more {
  grid-template-rows: 73px 24px 61px;
  position: relative;
}

.product-card--more::after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #d3d3d3;
  mask-image: url("../../icons/plus.svg");
  mask-size: 30px 30px;
  mask-repeat: no-repeat;
  mask-position: center;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    background:
      linear-gradient(
        to top,
        $bg-color-base 0% 430px,
        transparent 430px 100%
      );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 461px;
  }
}

@media (min-width: $tablet-width) {
  .product-card::before {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 171px;
  }
}

@media (min-width: $tablet-width) {
  .product-card--more {
    background: none;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .product-card--more::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 429px;
    bottom: 0;
    left: 0;
    border: 2px solid #f2f2f2;
    transform: none;
    top: initial;
  }
}

@media (min-width: $tablet-width) {
  .product-card--more::after {
    top: 132px;
    width: 60px;
    height: 60px;
    mask-size: 60px 60px;
  }
}

@media (min-width: $desktop-width) {
  .product-card--more::after {
    width: 245px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__link--title {
  grid-column: 2/-1;
  grid-row: 1/2;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.product-card__link-image {
  grid-column: 1/2;
  grid-row: 1/5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 140px;
  height: 107px;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


@media (min-width: $tablet-width) {
  .product-card__link-image {
    order: -1;
    width: 200px;
    height: 210px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__link-image {
    width: 169px;
    height: 210px;
  }
}

.product-card__title {
  @include font-text-secondary(16px, 20px, #222222);
  text-transform: uppercase;
  margin: 0;
  max-width: 76px;
}

@media (min-width: $tablet-width) {
  .product-card__title {
    @include font-text-secondary(20px, 24px, #222222);
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    max-width: 150px;
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__title {
    margin-top: 14px;
  }
}

.product-card__title--special {
  @include font-text-secondary(16px, 20px, #111111);
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: 53px auto 8px;
  max-width: 219px;
}

@media (min-width: $tablet-width) {
  .product-card__title--special {
    @include font-text-secondary(20px, 24px, #111111);
    padding: 0 40px;
    max-width: 134px;
    margin-top: 233px;
    margin-bottom: 23px;
  }
}


@media (min-width: $desktop-width) {
  .product-card__title--special {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 220px;
  }
}

.product-card__subtitle {
  @include font-text-primary(12px, 16px, $color-text-base);
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 0 auto;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .product-card__subtitle {
    margin: 0;
    padding: 0 40px;
    text-align: center;
    max-width: 160px;
  }
}

@media (min-width: $tablet-width) {
  .product-card__subtitle--special {
    @include font-text-primary(16px, 18px, $color-text-base);
    max-width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__subtitle--special {
    padding-left: 0;
    padding-right: 0;
  }
}

.product-card__info-wrapper {
  padding-bottom: 23px;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .product-card__info-wrapper {
    padding-top: 0;
  }
}

.product-card__info {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: $tablet-width) {
  .product-card__info {
    min-width: 250px;
    margin: 0 auto;
    align-items: end;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 4px;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__info {
    min-width: 169px;
    padding-bottom: 6px;
  }
}

.product-card__attributes {
  @include font-text-primary(12px, 16px, $color-text-base);
  grid-column: 1/2;
}

@media (min-width: $tablet-width) {
  .product-card__attributes {
    @include font-text-primary(16px, 20px, $color-text-base);
  }
}

.product-card__description {
  @include font-text-primary(12px, 16px, $color-text-base);
  grid-column: 2/3;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .product-card__description {
    @include font-text-primary(16px, 20px, $color-text-base);
  }
}

.product-card__button {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin-top: auto;
}

.product-card__button--special {
  grid-row: 3/4;
}
