.program-card {
  background-color: $bg-color-base;
}

.program-card__title {
  @include font-text-secondary(24px, 37px, $color-text-dark);
  text-transform: uppercase;
}

.program-card__description {
  @include font-text-primary(14px, 18px, $color-text-base);
}

.program-card__link {
  @include font-text-secondary(16px, 16px, $color-text-dark);
  text-transform: uppercase;
  text-decoration: none;
}
