.program-card {
  background-color: $bg-color-base;
  position: relative;
}

@media (min-width: $desktop-width) {
  .program-card {
    width: 466px;
  }
}

.program-card--slim-cat-outline::before {
  position: absolute;
  display: block;
  content: "";
  width: 36px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../icons/slim-cat-outline.svg");
  z-index: 1;
  left: 27px;
  top: 21px;
}

@media (min-width: $tablet-width) {
  .program-card--slim-cat-outline::before {
    width: 140px;
    height: 194px;
    left: auto;
    right: 93px;
    top: 81px;
  }
}

@media (min-width: $desktop-width) {
  .program-card--slim-cat-outline::before {
    width: 70px;
    height: 97px;
    left: 67px;
    top: 41px;
  }
}

.program-card--slim-cat-outline::after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $bg-color-bright;
  border-radius: 50%;
  left: 20px;
  top: 24px;
}

@media (min-width: $tablet-width) {
  .program-card--slim-cat-outline::after {
    width: 200px;
    height: 200px;
    left: auto;
    right: 63px;
    top: 92px;
  }
}

@media (min-width: $desktop-width) {
  .program-card--slim-cat-outline::after {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}


.program-card--strong-cat-outline::before {
  position: absolute;
  display: block;
  content: "";
  width: 68px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../icons/strong-cat-outline.svg");
  z-index: 1;
  left: 10px;
  top: 35px;
}

@media (min-width: $tablet-width) {
  .program-card--strong-cat-outline::before {
    width: 268px;
    height: 112px;
    left: auto;
    right: 29px;
    top: 135px;
  }
}

@media (min-width: $desktop-width) {
  .program-card--strong-cat-outline::before {
    width: 134px;
    height: 56px;
    left: 33px;
    top: 67px;
  }
}

.program-card--strong-cat-outline::after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $bg-color-bright;
  border-radius: 50%;
  left: 20px;
  top: 24px;
}

@media (min-width: $tablet-width) {
  .program-card--strong-cat-outline::after {
    width: 200px;
    height: 200px;
    left: auto;
    right: 63px;
    top: 92px;
  }
}

@media (min-width: $desktop-width) {
  .program-card--strong-cat-outline::after {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 47px;
  }
}

.program-card__title {
  @include font-text-secondary(24px, 37px, $color-text-dark);
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .program-card__title {
    @include font-text-secondary(36px, 36px, $color-text-dark);
    margin-left: 0;
    margin-bottom: 24px;
    margin-right: 316px;
  }
}

@media (min-width: $desktop-width) {
  .program-card__title {
    margin: 0;
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.program-card__description {
  @include font-text-primary(14px, 18px, $color-text-base);
  margin: 0;
  margin-bottom: 38px;
  position: relative;
}

.program-card__description::after {
  content: "";
  background-color: #d9d9d9;
  width: 240px;
  height: 1px;
  position: absolute;
  bottom: -24px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .program-card__description {
    @include font-text-primary(16px, 24px, $color-text-dark);
    margin-left: 0;
    margin-bottom: 48px;
    margin-right: 264px;
  }
}

@media (min-width: $tablet-width) {
  .program-card__description::after {
    content: none;
  }
}

@media (min-width: $desktop-width) {
  .program-card__description {
    margin: 0;
    margin-bottom: 23px;
  }
}

.program-card__link {
  position: relative;

  @include font-text-secondary(16px, 16px, $color-text-dark);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 4px 0;
}

.program-card__link::after {
  display: block;
  content: "";
  width: 24px;
  height: 12px;
  background-color: $color-text-dark;
  mask-image: url("../../icons/arrow.svg");
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-top: 1px;
}


.program-card__link:hover,
.program-card__link:focus-visible {
  color: $color-text-dark;

  &::after {
    background-color: $color-text-dark;
    width: 32px;
    mask-size: 32px 12px;
  }
}

.program-card__link:active {
  color: #b3b3b3;

  &::after {
    background-color: #b3b3b3;
    width: 32px;
    mask-size: 32px 12px;
  }
}

.program-card__link:disabled {
  color: #bebebe;

  &::after {
    background-color: #bebebe;
  }
}

@media (min-width: $tablet-width) {
  .program-card__link {
    @include font-text-secondary(20px, 30px, $color-text-dark);
    gap: 29px;
  }

  .program-card__link::after {
    mask-size: 32px 16px;
  }
}
